<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet"> 

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css' integrity='sha512-HHsOC+h3najWR7OKiGZtfhFIEzg5VRIPde0kB0bG2QRidTQqf+sbfcxCTB16AcFB93xMjnBIKE29/MjdzXE+qw==' crossorigin='anonymous'/>

  <link rel="stylesheet" href="./assets/style/style.css">

  <script src="https://unpkg.com/vue@3"></script>

  <title>Vue To Do List</title>
</head>
<body>

  <header>
    <img src="./assets/img/logo.png" alt="">
  </header>

  <div id="app" class="main-wrapper">

    <div class="input-area">

      <input @keydown.enter="addTask()" v-model.trim="newTask" type="text" placeholder="Add a new Task">

      <div @click="addTask()" class="btn">Aggiungi</div>


    </div>

    <div class="task-list-area">
      <h3>{{msgError}}</h3>
      <ul v-if="tasks.length > 0" class="task">
        <li @click="task.done = !task.done" v-for="(task, index) in tasks">
          <span :class="{'done': task.done === true}">{{task.description}}</span>
          <i @click.stop="delTask(index)" class="fa-solid fa-circle-xmark"></i>
        </li>
   
      </ul>

      <h3 v-else>{{msgNoTask}}</h3>
    </div>

  </div>

  <script src="./js/script.js"></script>
</body>
</html>